apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  selector:
    app: nginx
  type: LoadBalancer # Automatically creates an AWS Classic/Network Load Balancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
